<h1 class="display-4 title">Sunset Theater</h1>

<div class="card formdiv">
  <h4 class="card-header">Registration</h4>
  <div class="card-body">

    <form class="form" [formGroup]="regForm" (ngSubmit)="onSubmit($event)">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" class="form-control"
               formControlName="firstName" [ngClass]="{'form-submitted': formSubmitted}"
               placeholder="Enter first name"/>
      </div>
      <div class="form-group">
        <label for="lastName">last Name</label>
        <input type="text" id="lastName" class="form-control"
               formControlName="lastName" [ngClass]="{'form-submitted': formSubmitted}"
               placeholder="Enter last name"/>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <!--ngClass directive adds css class form-submitted to input whenever formSubmitted component field is true-->
        <input type="email" id="email" class="form-control"
               formControlName="email" [ngClass]="{'form-submitted': formSubmitted}"
               placeholder="Enter email"/>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" id="password" class="form-control"
               formControlName="password" [ngClass]="{'form-submitted': formSubmitted}"
               placeholder="Enter password"/>
      </div>
      <button type="submit" class="btn btn-outline-secondary">Submit</button>
      <button id="back" class="btn btn-outline-secondary" routerLink="login">Back</button>
    </form>

  </div>
</div>
