#seatSelection {
  margin-top: 2vh;
  text-align: center;
}

#screen {
  width: 50%;
  margin: 5vh auto;
  height: 5vw;
  background-color: transparent;
  border-top-left-radius: 14vw;
  border-top-right-radius: 14vw;
  border: 10px solid gray;
  border-bottom: 0;
}

#seating {
  text-align: center;
}

.seatRow {
  display: block;
  white-space: nowrap;
}

.square {
  height: 4vw;
  width: 4vw;
  border-width: 1px;
  border-style: solid;
  border-color: cyan;
  background-color: transparent;
  cursor: pointer;
  margin: 1vw;
}

.square:hover {
  background-color: lightcyan;
}

.number {
  font-size: 2.5vw;
}

.selected {
  background-color: lightcyan;
}

.unavailable {
  background-color: lightgrey;
  border-color: lightgrey;
}

.unavailable:hover {
  background-color: lightgrey;
  cursor: auto;
}

#options {
  margin-top: 5vh;
}

.empty {
  visibility: hidden;
}
