<div>
  <h1 class="display-4" id="seatSelection">Choose Seats</h1>

  <div id="options">
    <!--<div id="selected">
      <h5 style="display: inline-block" *ngIf="this.selectedSeats.length > 0"> Seats: </h5>
      <span *ngFor="let seat of selectedSeats">
        <h5 style="display: inline-block"> {{ seat.number }} </h5>
      </span>
    </div>-->
    <div class="btn-group">
      <button class="btn btn-outline-secondary" (click)="clearSeats()">Refresh</button>
      <button class="btn btn-outline-secondary" (click)="reserveSeats()">Reserve</button>
    </div>
  </div>
  <hr>

  <div id="seating">
    <div id="screen"></div>
    <div class="seatRow" *ngFor="let row of rows">
      <div *ngFor="let seat of row.seats" style="display: inline-block">
        <div class="square rounded"
             [class.selected]="isSelected(seat)"
             [class.unavailable]="seat.is_reserved"
             [class.empty]="seat.is_empty_space"
             (click)="addSeat(seat)">
          <div class="number">{{ seat.number }}</div>
        </div>
      </div>
    </div>
  </div>
</div>







