#seatSelection {
  margin-top: 2vh;
  text-align: center;
}

#screen {
  width: 80%;
  margin: 5vh auto;
  height: 1vw;
  background-color: transparent;
  border-top-left-radius: 14vw;
  border-top-right-radius: 14vw;
  border: 10px solid gray;
  border-bottom: 0;
}

#seating {
  text-align: center;
  margin: auto;
}

.seatRow {
  display: block;
  white-space: nowrap;
}

.square {
  height: 4vw;
  width: 4vw;
  max-height: 36px;
  max-width: 36px;
  min-height: 5px;
  min-width: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: cyan;
  background-color: transparent;
  cursor: pointer;
  margin: 5px;
}

.square:hover {
  background-color: lightcyan;
}

.number {
  font-size: 2vw;
}

/* 0.2 * 800px = 16px */
@media screen and (min-width: 800px) {
  .number {
    font-size: 16px;
  }
}

.selected {
  background-color: lightcyan;
}

.unavailable {
  background-color: lightgrey;
  border-color: lightgrey;
}

.unavailable:hover {
  background-color: lightgrey;
  cursor: auto;
}

#options {
  margin: 2.5vh auto;
  text-align: center;
}

.empty {
  visibility: hidden;
}
