#titleHeader {
  display: block;
  margin-top: 2vh;
}

#nowPlaying {
  text-align: center;
}

#selectedDate {
  margin-top: 4vh;
  margin-bottom: 0.5vh;
}

.movieTitle {
  /* text-decoration: none; no underline */
  background: none;
  outline: 0;
}

a:hover {
  color: darkorange;
  /* for movie info anchor which has no reference but used for collapsable */
  cursor: pointer;
}

#main {
  background-color: aquamarine;
}

.showbtn {
  min-width: 95px;
  margin-top: 10px;
}

.detailHeader {
  text-decoration: underline;
}
