<h1>Now Playing</h1>
<!-- when dateEmitter method called on app-date-picker,
     updateMovieTimes($event) is called -->
<app-date-picker (dateEmitter)="displayMovieTimes($event)"></app-date-picker>

<div *ngFor="let movie of movies">
  <mat-divider></mat-divider>
  <a>{{ movie.title }}</a>
  <ul>
    <div *ngFor="let show of shows">
      <span *ngIf="show.movie.id == movie.id">
        <button mat-stroked-button color="accent" id="{{ show.id }}"  routerLink="/seat-selection/{{ show.id }}">
          {{ show.time | time }}
        </button>
      </span>
     </div>
  </ul>
</div>




