#selectedDate {
  padding-left: 25px;
}

#titleHeader {
  display: block;
  margin-block: 15px;
  margin-bottom: 15px;
}

#nowPlaying {
  display: inline-block;;

}

#selectedDate {
  display: inline-block;
}

.movieShowTimes {
  padding-top: 40px;
}

.movieTitle {
  /* text-decoration: none; no underline */
  color: black;
  background: none;
  outline: 0;
}

a:hover {
  color: orange;
  /* for movie info anchor which has no reference but used for collapsable */
  cursor: pointer;
}

#main {
  background-color: aquamarine;
}

.showbtn {
  min-width: 95px;
  margin-top: 10px;
}

.test {
  background-color: gold;
}

.test2 {
  background-color: green;
}
