<div class="container-fluid">
  <div class="row">
    <!-- only columns are placed inside a row -->
    <div class="col">
      <h1 id="nowPlaying">Now Playing</h1>
      <h5 id="selectedDate">{{selectedDate.toDateString()}}</h5>
    </div>
  </div>
  <!-- when dateEmitter method called on app-date-picker, updateMovieTimes($event) is called -->
  <app-date-picker (dateEmitter)="displayMovieTimes($event)"></app-date-picker>
  <div class="movieShowTimes" *ngFor="let movie of movies">
    <a class="movieTitle"><h4>{{ movie.title }}</h4></a>
    <div class="row">
      <div *ngFor="let show of shows">
        <span class="col" *ngIf="show.movie.id == movie.id">
          <button type="button" class="btn btn-outline-primary showbtn" routerLink="/seat-selection/{{ show.id }}">
            {{ show.time | time }}
          </button>
        </span>
      </div>
    </div>
  </div>
</div>







