<nav class="navbar navbar-default navStyle" *ngIf="currentUser">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="option" id="theaterTitle" routerLink="now-playing">Sunset Theater</a>
      </div>
      <div id="navMenu">
        <a style="display: inline-block" class="nav-item nav-link option" routerLink="cart">Reservations</a>
        <a href="" style="display: inline-block" class="nav-item nav-link option" (click)="logout()">Logout</a>
        <a href="https://jfpierre.dev" style="display: inline-block" class="nav-item nav-link option">Exit</a>
      </div>
  </div>
</nav>





















