<nav class="navbar navbar-default navStyle" *ngIf="currentUser">
  <div class="container-fluid">
      <div class="navbar-header">
          <button class="option" id="theaterTitle" routerLink="now-playing">Sunset Theater</button>
      </div>
      <div id="navMenu">
        <button style="display: inline-block" class="nav-item nav-link option" routerLink="cart">Reservations</button>
        <button style="display: inline-block" class="nav-item nav-link option" (click)="logout()">Logout</button>
      </div>
  </div>
</nav>





















