<h1 class="display-4 title">Sunset Theater</h1>

<div class="card formdiv">
  <h4 class="card-header">Log In</h4>
  <div class="card-body">

    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
      <div class="form-group">
        <label for="email">Email</label>
        <!--ngClass directive adds css class form-submitted to input whenever formSubmitted component field is true-->
        <input type="email" id="email" class="form-control"
               formControlName="email" [ngClass]="{'form-submitted': formSubmitted}"
               placeholder="Enter email"/>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" id="password" class="form-control"
               formControlName="password" [ngClass]="{'form-submitted': formSubmitted}"
               placeholder="Enter password"/>
      </div>
      <button type="submit" class="btn btn-outline-secondary">Submit</button>
      <button id="register" class="btn btn-outline-secondary" routerLink='/registration'>register</button>
    </form>

  </div>
</div>



