/* Application-wide Styles */

/* Angular Material requirement; if a theme not imported, components do not work correctly  */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/

/* Added by Angular Material
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

html, body {
  height: 100%;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 250%;
}
h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

a {
  /* text-decoration: none; no underline */
  color: black;
  background: none;
  outline: 0;
}

a:hover {
  color: orange;
}

/** everywhere else * {} */



