/* Application-wide Styles */

/* Angular Material requirement; if a theme not imported, components do not work correctly  */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Added by Angular Material
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

html, body {
  height: 100%;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia;
}

h1 {
  color: #369;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-weight: lighter;
}
*/


/* everywhere else */
 * {}


